<div ng-show="totalItems>0" class="ng-hide">
<div class="row">
  <div class="col-sm-9"><H2>Company Report</H2></div>
  <div class="col-sm-3"><a role="button" class="btn btn-primary btn-lg btn-block" href="#/newCompany">Add Company</a></div>
</div>
<hr />
<uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage"></uib-pagination>
<hr />
<div ng-repeat="c in getCompanies()">
    <div class="row">
        <div class="col-md-12">
            <company-report company="c" ></company-report>
        </div>
    </div>
</div> 
</div> 